html {
    font: 62.5% Times, serif;
    background: #000;
    color: #fff;
}

header {
    height: 13.467rem;
    padding: 3.2rem;
    text-align: center;
}

header h3 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
}

header p {
    font-size: 1.6rem;
}

.content {
    max-width: 124.8rem;
    background: #fff;
    color: #000;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    height: 47.86rem;
    padding: 0.6rem 0.6rem 0 0.6rem;
}

.content p {
    font-size: 4.8rem;
}

.content img {
    max-height: 100%;
    max-width: calc(100% - 24rem);
}

.biography {
    max-width: 62.4rem;
    margin: 3.2rem 0.8rem;
    border-bottom: 0.2rem solid #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.biography h2 {
    font-size: 4.8rem;
    margin-bottom: 1.6rem;
}

.biography p {
    font-size: 1.92rem;
    margin-bottom: 4rem;
}